In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
train = pd.read_csv("./movie_reviews/train.tsv", sep="\t")

In [3]:
train.head(50)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
5,6,1,of escapades demonstrating the adage that what...,2
6,7,1,of,2
7,8,1,escapades demonstrating the adage that what is...,2
8,9,1,escapades,2
9,10,1,demonstrating the adage that what is good for ...,2
10,11,1,demonstrating the adage,2
11,12,1,demonstrating,2
12,13,1,the adage,2
13,14,1,the,2
14,15,1,adage,2
15,16,1,that what is good for the goose,2
16,17,1,that,2
17,18,1,what is good for the goose,2
18,19,1,what,2
19,20,1,is good for the goose,2
20,21,1,is,2
21,22,1,good for the goose,3
22,23,1,good,3
23,24,1,for the goose,2
24,25,1,for,2
25,26,1,the goose,2
26,27,1,goose,2
27,28,1,"is also good for the gander , some of which oc...",2
28,29,1,"is also good for the gander , some of which oc...",2
29,30,1,is also,2
30,31,1,also,2
31,32,1,"good for the gander , some of which occasional...",2
32,33,1,"for the gander , some of which occasionally am...",2
33,34,1,"the gander , some of which occasionally amuses...",1
34,35,1,"the gander ,",2
35,36,1,the gander,2
36,37,1,gander,2
37,38,1,",",2
38,39,1,some of which occasionally amuses but none of ...,2
39,40,1,some of which,2
40,41,1,some,2
41,42,1,of which,2
42,43,1,which,2
43,44,1,occasionally amuses but none of which amounts ...,2
44,45,1,occasionally,2
45,46,1,amuses but none of which amounts to much of a ...,2
46,47,1,amuses,3
47,48,1,but none of which amounts to much of a story,1
48,49,1,but,2
49,50,1,none of which amounts to much of a story,1

In [4]:
train.tail(20)

,PhraseId,SentenceId,Phrase,Sentiment
156040,156041,8544,"is darkly atmospheric , with Herrmann quietly ...",2
156041,156042,8544,"is darkly atmospheric , with Herrmann quietly ...",2
156042,156043,8544,"is darkly atmospheric ,",2
156043,156044,8544,is darkly atmospheric,3
156044,156045,8544,with Herrmann quietly suggesting the sadness a...,2
156045,156046,8544,Herrmann quietly suggesting the sadness and ob...,2
156046,156047,8544,Herrmann,2
156047,156048,8544,quietly suggesting the sadness and obsession b...,1
156048,156049,8544,suggesting the sadness and obsession beneath H...,2
156049,156050,8544,suggesting the sadness and obsession,2
156050,156051,8544,the sadness and obsession,2
156051,156052,8544,sadness and obsession,1
156052,156053,8544,sadness and,1
156053,156054,8544,beneath Hearst 's forced avuncular chortles,2
156054,156055,8544,Hearst 's forced avuncular chortles,2
156055,156056,8544,Hearst 's,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [6]:
sentiment_map = {
    0: "negative",
    1: "somewhat negative",
    2: "neutral",
    3: "somewhat positive",
    4: "positive"
}

In [7]:
for col in train.columns:
    if col == "Phrase":
        continue
    else:
        print(col)
        print(train[col].value_counts()[:25])

PhraseId
2049      1
53967     1
60104     1
58057     1
64202     1
62155     1
51916     1
49869     1
56014     1
10960     1
86527     1
8913      1
15058     1
13011     1
2772      1
725       1
6870      1
4823      1
37575     1
39622     1
33477     1
35524     1
139921    1
146066    1
144019    1
Name: PhraseId, dtype: int64
SentenceId
1       63
5555    63
509     59
625     58
403     57
22      56
149     56
240     55
128     54
817     54
7705    54
301     53
2124    53
82      53
595     52
654     52
217     51
635     51
3023    51
3635    51
4563    50
152     50
293     50
1032    50
113     50
Name: SentenceId, dtype: int64
Sentiment
2    79582
3    32927
1    27273
4     9206
0     7072
Name: Sentiment, dtype: int64

In [8]:
test = pd.read_csv("./movie_reviews/test.tsv", sep="\t")

In [9]:
test.head()

   PhraseId  SentenceId                                             Phrase
0    156061        8545  An intermittently pleasing but mostly routine ...
1    156062        8545  An intermittently pleasing but mostly routine ...
2    156063        8545                                                 An
3    156064        8545  intermittently pleasing but mostly routine effort
4    156065        8545         intermittently pleasing but mostly routine